<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="front-page-container">
        <div class="aside-logo">
        <div class="dog">
            <div class="body"></div>
            <div class="leg1"></div>
            <div class="leg2"></div>
            <div class="leg3"></div>
            <div class="leg4"></div>
            <div class="tail"></div>
            <div class="ear"></div>
            <div class="nose"></div>
            <div class="eye"></div>
            <div class="tongue"></div>
        </div>
    </div>
    <div class="get-started-container">
        <div class="get-started">
            <form action="/signup" method="post">

            <h2>Adopt a Dog Today!</h2>
            <h4>Email</h4>
            <input type="text" name="email">
            <h4>Password</h4>
            <input type="password" name="password">
            <button type="submit" class="button-get-started">
                Get Started
            </button>
            </form>
            <div class="button-get-started button-login">
                <a href="/login">Already Have an Account? Login</a>
            </div>
            <div style="margin-top: 30px;"><h5>If a man loves a dog, he is a good man.<br> If a dog loves a man, he is a good man.</h5></div>
        </div>
    </div>
</div>
</body>
</html>